<!DOCTYPE HTML>

<html>
<head>
    <title>C O D A</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="static/assets/css/main.css"/>
    <noscript>
        <link rel="stylesheet" href="static/assets/css/noscript.css"/>
    </noscript>
</head>
<body class="is-preload">

<!-- Page Wrapper -->
<div id="page-wrapper">

    <!-- Header -->
    {% include 'include/header.html' %}

    <!-- Menu -->
    {% include 'include/menu.html' %}
    <!-- Banner -->

    <section id="banner">
        <div class="inner">
            <div class="logo"><span class="icon fa-gem"></span></div>
            <h2>This is C O D A</h2>
            <p><strong>PRE-COVID-19, POST-COVID-19 Comparative analysis.</strong></p>
            <p>COVID-19가 본격적으로 확산하기 이전과 POST-COVID-19의 시대는 이 작은 바이러스 하나가
                사회적, 정치적, 경제적으로 정말 많은 영향을 미쳤습니다. 미시적으로는 항시 마스크를 착용해야 하는 생활적 변화에서 부터
                거시적으로는 정책 결정과 외교, 국가의 방향까지 현 시대에서는 이 COVID-19라는 바이러스를 뺴놓을 수 없을 정도입니다.
                CODA 팀은 Pyecharts를 활용하여 2020년을 기준으로 하여 여러 분야에 어떤 영향을 미쳤는지 비교
                분석을 해보고자 주제를 선정 하였습니다.
            </p>
        </div>
    </section>

    <!-- Wrapper -->
    <section id="wrapper">

        <!-- One -->
        {% include 'include/intro1.html' %}


        <!-- Two -->
        {% include 'include/intro2.html' %}


        <!-- Three -->
        {% include 'include/intro3.html' %}


        <!-- Four -->
        <section id="four" class="wrapper alt style1">
            <div class="inner">
                <h2 class="major">개발환경</h2>
                <p>이번 프로젝트를 진행하면서 쓰인 개발 환경입니다.</p>
                <section class="features">
                    <article>
                        <a href="https://www.jetbrains.com/ko-kr/pycharm/" class="image"><img
                                src="static/images/pycharm.png" alt=""/></a>
                        <h3 class="major">PYCHARM</h3>
                        <p>PyCharm은 컴퓨터 프로그래밍, 특히 Python 프로그래밍 언어에 사용되는 통합 개발 환경입니다. 체코 회사 JetBrains에서 개발했습니다.</p>
                        <a href="https://www.jetbrains.com/ko-kr/pycharm/" class="special">pycharm</a>
                    </article>
                    <article>
                        <a href="https://pyecharts.org/#/en-us/" class="image"><img src="static/images/Echarts.png"
                                                                                    alt=""/></a>
                        <h3 class="major">Pyecharts</h3>
                        <p>Echarts는 아파치 라이선스로 사용하기 쉽고, 대화식이며, 성능이 뛰어난 자바스크립트 시각화 라이브러리입니다. 여기에 표현력이 뛰어난 파이썬 언어의 강점을 결합해
                            파이차트가 만들어졌으며 이번 프로젝트의 그래프는 pyecharts로 표현하였습니다.</p>
                        <a href="https://pyecharts.org/#/en-us/" class="special">Pyecharts</a>
                    </article>

                    <article>
                        <a href="https://flask.palletsprojects.com/en/2.0.x/" class="image"><img
                                src="static/images/flask.png" alt=""/></a>
                        <h3 class="major">flask</h3>
                        <p>플라스크는 Python의 마이크로 웹 프레임워크입니다. 다양한 웹 엔진과 붙여서 쓸 수 있고 또 가볍기도 해서 Django와 같이 쓰는 경우도 있습니다. 코드도 비교적
                            단순하고, 특히 관련된 확장 기능들이 많기 때문에 API 서버를 만들기 매우 편리합니다. </p>
                        <a href="https://flask.palletsprojects.com/en/2.0.x/" class="special">Flask</a>
                    </article>
                    <article>
                        <a href="https://colab.research.google.com" class="image"><img src="static/images/colab.jpg"
                                                                                       alt=""/></a>
                        <h3 class="major">COLAB</h3>
                        <p>Colaboratory는 설치가 필요없고, 코드를 작성하고, 돌려보고, 공유할 수 있는 클라우드 기반의 무료 주피터(Jupyter) 노트 환경입니다</p>
                        <a href="https://colab.research.google.com" class="special">COLAB</a>
                    </article>
                </section>
                <ul class="actions">
                    <li><a href="#" class="button">Browse All</a></li>
                </ul>
            </div>
        </section>

    </section>

    <!-- Footer -->
    {% include 'include/footer.html' %}

</div>

<!-- Scripts -->
{% include 'include/script2.html' %}

</body>
</html>