<section id="one" class="wrapper spotlight style1">
    <div class="inner">
        <a href="#" class="image"><img src="static/images/COVID19.png" alt=""/></a>
        <div class="content">
            <h2 class="major">신용카드 결제 데이터를 이용한 비교분석</h2>
            <p><strong>COVID-19</strong>이 확산되기 이전인 2019년 이전과 <strong>POST-COVID-19</strong>, 2019년 이후의
                시대는 사회적, 정치적, 경제적으로 정말 많은 영향을 미쳤다. 이 중 저희 팀은 코로나로 인한 경제적 환경 변화를 중심으로 코로나
                의 영향력을 재조명하고, 구체적으로 어떠한 차이가 발생하였는지를 비교 분석 해보고자 주제를 선정하였다.
            </p>
            <a href="/card" class="special">자세히 알아보기</a>
        </div>
    </div>
</section>