<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WineForm</title>
</head>
<body>
<form action="/wine_test" method="post">
    fixed acidity:<input type="text" name="fixed acidity"><br>
    volatile acidity:<input type="text" name="volatile acidity"><br>
    citric acid:<input type="text" name="citric acid"><br>
    residual sugar:<input type="text" name="residual sugar"><br>
    chlorides:<input type="text" name="chlorides"><br>
    free sulfur dioxide:<input type="text" name="free sulfur dioxide"><br>
    total sulfur dioxide:<input type="text" name="total sulfur dioxide"><br>
    density:<input type="text" name="density"><br>
    pH:<input type="text" name="pH"><br>
    sulphates:<input type="text" name="sulphates"><br>
    alcohol:<input type="text" name="alcohol"><br>
    <input type="submit" value="검사">
</form>
</body>
</html>