<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>운동선택페이지</title>
</head>
<body>
<h1>하고 싶은 운동을 선택해주세요!</h1>

<form action="/exec/run_exec/{{}}">
    <input type="submit" name="Arm_curl" value="Arm_curl">
</form>
<form action="/exec/run_exec/{{Chair_dips}}">
    <input type="submit" name="Chair_dips" value="Chair_dips">
</form>
<form action="/exec/run_exec/{{Crunch}}">
    <input type="submit" name="Crunch" value="Crunch">
</form>
<br>
<form action="/exec/run_exec/{{Leg_raise}}">
    <input type="submit" name="Leg_raise" value="Leg_raise">
</form>
<form action="/exec/run_exec/{{Lunge}}">
    <input type="submit" name="Lunge" value="Lunge">
</form>
<form action="/exec/run_exec/{{Pull_up}}">
    <input type="submit" name="Pull_up" value="Pull_up">
</form>
<br>
<form action="/exec/run_exec/{{Push_up}}">
    <input type="submit" name="Push_up" value="Push_up">
</form>
<form action="/exec/run_exec/{{Side_lateral_raise}}">
    <input type="submit" name="Side_lateral_raise" value="Side_lateral_raise">
</form>
<form action="/exec/run_exec/{{Squat}}">
    <input type="submit" name="Squat" value="Squat">
</form>

</body>
</html>