<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/themes/westeros.js"></script>

</head>
<body>
    <div id="1e6d4a14ccc3431da455b3dc31747af5" class="chart-container" style="width:600px; height:400px;"></div>
    <script>
        var chart_1e6d4a14ccc3431da455b3dc31747af5 = echarts.init(
            document.getElementById('1e6d4a14ccc3431da455b3dc31747af5'), 'westeros', {renderer: 'canvas'});
        var option_1e6d4a14ccc3431da455b3dc31747af5 = {
    "baseOption": {
        "series": [
            {
                "type": "pie",
                "clockwise": true,
                "data": [
                    {
                        "name": "\uac00\uc804/\uac00\uad6c",
                        "value": [
                            462307.0
                        ]
                    },
                    {
                        "name": "\uac00\uc815\uc0dd\ud65c/\uc11c\ube44\uc2a4",
                        "value": [
                            10042345.0
                        ]
                    },
                    {
                        "name": "\uad50\uc721/\ud559\uc6d0",
                        "value": [
                            4709338.0
                        ]
                    },
                    {
                        "name": "\ubbf8\uc6a9",
                        "value": [
                            3091388.0
                        ]
                    },
                    {
                        "name": "\uc2a4\ud3ec\uce20/\ubb38\ud654/\ub808\uc800",
                        "value": [
                            6357563.0
                        ]
                    },
                    {
                        "name": "\uc5ec\ud589/\uad50\ud1b5",
                        "value": [
                            2317170.0
                        ]
                    },
                    {
                        "name": "\uc694\uc2dd/\uc720\ud765",
                        "value": [
                            28852925.0
                        ]
                    },
                    {
                        "name": "\uc720\ud1b5",
                        "value": [
                            21417541.0
                        ]
                    },
                    {
                        "name": "\uc74c/\uc2dd\ub8cc\ud488",
                        "value": [
                            3081026.0
                        ]
                    },
                    {
                        "name": "\uc758\ub8cc",
                        "value": [
                            10356116.0
                        ]
                    },
                    {
                        "name": "\uc758\ub958/\uc7a1\ud654",
                        "value": [
                            1210419.0
                        ]
                    },
                    {
                        "name": "\uc790\ub3d9\ucc28",
                        "value": [
                            0.0
                        ]
                    },
                    {
                        "name": "\uc804\uc790\uc0c1\uac70\ub798",
                        "value": [
                            58058835.0
                        ]
                    },
                    {
                        "name": "\uc8fc\uc720",
                        "value": [
                            8767240.0
                        ]
                    }
                ],
                "radius": [
                    "30%",
                    "60%"
                ],
                "center": [
                    "50%",
                    "50%"
                ],
                "roseType": "radius",
                "label": {
                    "show": true,
                    "position": "top",
                    "margin": 8
                },
                "rippleEffect": {
                    "show": true,
                    "brushType": "stroke",
                    "scale": 2.5,
                    "period": 4
                }
            }
        ],
        "timeline": {
            "axisType": "category",
            "orient": "horizontal",
            "autoPlay": true,
            "controlPosition": "left",
            "loop": true,
            "rewind": false,
            "show": true,
            "inverse": false,
            "bottom": "-5px",
            "data": [
                "pre_corona\ub144\ub3c4",
                "post_corona\ub144\ub3c4"
            ]
        }
    },
    "options": [
        {
            "legend": [
                {
                    "data": [
                        "\uac00\uc804/\uac00\uad6c",
                        "\uac00\uc815\uc0dd\ud65c/\uc11c\ube44\uc2a4",
                        "\uad50\uc721/\ud559\uc6d0",
                        "\ubbf8\uc6a9",
                        "\uc2a4\ud3ec\uce20/\ubb38\ud654/\ub808\uc800",
                        "\uc5ec\ud589/\uad50\ud1b5",
                        "\uc694\uc2dd/\uc720\ud765",
                        "\uc720\ud1b5",
                        "\uc74c/\uc2dd\ub8cc\ud488",
                        "\uc758\ub8cc",
                        "\uc758\ub958/\uc7a1\ud654",
                        "\uc790\ub3d9\ucc28",
                        "\uc804\uc790\uc0c1\uac70\ub798",
                        "\uc8fc\uc720"
                    ],
                    "selected": {},
                    "type": "scroll",
                    "show": true,
                    "right": "-3%",
                    "bottom": "60%",
                    "orient": "vertical",
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "icon": "pin"
                }
            ],
            "series": [
                {
                    "type": "pie",
                    "clockwise": true,
                    "data": [
                        {
                            "name": "\uac00\uc804/\uac00\uad6c",
                            "value": [
                                2868358.0
                            ]
                        },
                        {
                            "name": "\uac00\uc815\uc0dd\ud65c/\uc11c\ube44\uc2a4",
                            "value": [
                                5973443.0
                            ]
                        },
                        {
                            "name": "\uad50\uc721/\ud559\uc6d0",
                            "value": [
                                3202450.0
                            ]
                        },
                        {
                            "name": "\ubbf8\uc6a9",
                            "value": [
                                24359536.0
                            ]
                        },
                        {
                            "name": "\uc2a4\ud3ec\uce20/\ubb38\ud654/\ub808\uc800",
                            "value": [
                                10831602.0
                            ]
                        },
                        {
                            "name": "\uc5ec\ud589/\uad50\ud1b5",
                            "value": [
                                24981597.0
                            ]
                        },
                        {
                            "name": "\uc694\uc2dd/\uc720\ud765",
                            "value": [
                                59962074.0
                            ]
                        },
                        {
                            "name": "\uc720\ud1b5",
                            "value": [
                                68798989.0
                            ]
                        },
                        {
                            "name": "\uc74c/\uc2dd\ub8cc\ud488",
                            "value": [
                                18297234.0
                            ]
                        },
                        {
                            "name": "\uc758\ub8cc",
                            "value": [
                                44946838.0
                            ]
                        },
                        {
                            "name": "\uc758\ub958/\uc7a1\ud654",
                            "value": [
                                2903316.0
                            ]
                        },
                        {
                            "name": "\uc790\ub3d9\ucc28",
                            "value": [
                                826681.0
                            ]
                        },
                        {
                            "name": "\uc804\uc790\uc0c1\uac70\ub798",
                            "value": [
                                20716927.0
                            ]
                        },
                        {
                            "name": "\uc8fc\uc720",
                            "value": [
                                6425171.0
                            ]
                        }
                    ],
                    "radius": [
                        "30%",
                        "60%"
                    ],
                    "center": [
                        "50%",
                        "50%"
                    ],
                    "roseType": "radius",
                    "label": {
                        "show": true,
                        "position": "top",
                        "margin": 8
                    },
                    "rippleEffect": {
                        "show": true,
                        "brushType": "stroke",
                        "scale": 2.5,
                        "period": 4
                    }
                }
            ],
            "title": [
                {
                    "text": "\ucf54\ub85c\ub098 \uc804\ud6c4 \uac01 \uc5c5\uc885\ubcc4 \uce74\ub4dc\ub9e4\ucd9c",
                    "padding": 5,
                    "itemGap": 10
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5
            }
        },
        {
            "legend": [
                {
                    "data": [
                        "\uac00\uc804/\uac00\uad6c",
                        "\uac00\uc815\uc0dd\ud65c/\uc11c\ube44\uc2a4",
                        "\uad50\uc721/\ud559\uc6d0",
                        "\ubbf8\uc6a9",
                        "\uc2a4\ud3ec\uce20/\ubb38\ud654/\ub808\uc800",
                        "\uc5ec\ud589/\uad50\ud1b5",
                        "\uc694\uc2dd/\uc720\ud765",
                        "\uc720\ud1b5",
                        "\uc74c/\uc2dd\ub8cc\ud488",
                        "\uc758\ub8cc",
                        "\uc758\ub958/\uc7a1\ud654",
                        "\uc790\ub3d9\ucc28",
                        "\uc804\uc790\uc0c1\uac70\ub798",
                        "\uc8fc\uc720"
                    ],
                    "selected": {},
                    "type": "scroll",
                    "show": true,
                    "right": "-3%",
                    "bottom": "60%",
                    "orient": "vertical",
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "icon": "pin"
                }
            ],
            "series": [
                {
                    "type": "pie",
                    "clockwise": true,
                    "data": [
                        {
                            "name": "\uac00\uc804/\uac00\uad6c",
                            "value": [
                                462307.0
                            ]
                        },
                        {
                            "name": "\uac00\uc815\uc0dd\ud65c/\uc11c\ube44\uc2a4",
                            "value": [
                                10042345.0
                            ]
                        },
                        {
                            "name": "\uad50\uc721/\ud559\uc6d0",
                            "value": [
                                4709338.0
                            ]
                        },
                        {
                            "name": "\ubbf8\uc6a9",
                            "value": [
                                3091388.0
                            ]
                        },
                        {
                            "name": "\uc2a4\ud3ec\uce20/\ubb38\ud654/\ub808\uc800",
                            "value": [
                                6357563.0
                            ]
                        },
                        {
                            "name": "\uc5ec\ud589/\uad50\ud1b5",
                            "value": [
                                2317170.0
                            ]
                        },
                        {
                            "name": "\uc694\uc2dd/\uc720\ud765",
                            "value": [
                                28852925.0
                            ]
                        },
                        {
                            "name": "\uc720\ud1b5",
                            "value": [
                                21417541.0
                            ]
                        },
                        {
                            "name": "\uc74c/\uc2dd\ub8cc\ud488",
                            "value": [
                                3081026.0
                            ]
                        },
                        {
                            "name": "\uc758\ub8cc",
                            "value": [
                                10356116.0
                            ]
                        },
                        {
                            "name": "\uc758\ub958/\uc7a1\ud654",
                            "value": [
                                1210419.0
                            ]
                        },
                        {
                            "name": "\uc790\ub3d9\ucc28",
                            "value": [
                                0.0
                            ]
                        },
                        {
                            "name": "\uc804\uc790\uc0c1\uac70\ub798",
                            "value": [
                                58058835.0
                            ]
                        },
                        {
                            "name": "\uc8fc\uc720",
                            "value": [
                                8767240.0
                            ]
                        }
                    ],
                    "radius": [
                        "30%",
                        "60%"
                    ],
                    "center": [
                        "50%",
                        "50%"
                    ],
                    "roseType": "radius",
                    "label": {
                        "show": true,
                        "position": "top",
                        "margin": 8
                    },
                    "rippleEffect": {
                        "show": true,
                        "brushType": "stroke",
                        "scale": 2.5,
                        "period": 4
                    }
                }
            ],
            "title": [
                {
                    "text": "\ucf54\ub85c\ub098 \uc804\ud6c4 \uac01 \uc5c5\uc885\ubcc4 \uce74\ub4dc\ub9e4\ucd9c",
                    "padding": 5,
                    "itemGap": 10
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5
            }
        }
    ]
};
        chart_1e6d4a14ccc3431da455b3dc31747af5.setOption(option_1e6d4a14ccc3431da455b3dc31747af5);
    </script>
</body>
</html>
