<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/themes/westeros.js"></script>

    
</head>
<body>
    <style>.box { justify-content:center; display:flex; flex-wrap:wrap;  }; </style>
    <div class="box">
                <div id="574c24c4dc164c84981f9e44e67f0a3e" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_574c24c4dc164c84981f9e44e67f0a3e = echarts.init(
            document.getElementById('574c24c4dc164c84981f9e44e67f0a3e'), 'westeros', {renderer: 'canvas'});
        var option_574c24c4dc164c84981f9e44e67f0a3e = {
    "baseOption": {
        "series": [
            {
                "type": "pie",
                "clockwise": true,
                "data": [
                    {
                        "name": "\uac00\uc804/\uac00\uad6c",
                        "value": [
                            0.0
                        ]
                    },
                    {
                        "name": "\uac00\uc815\uc0dd\ud65c/\uc11c\ube44\uc2a4",
                        "value": [
                            8588222.0
                        ]
                    },
                    {
                        "name": "\uad50\uc721/\ud559\uc6d0",
                        "value": [
                            4417095.0
                        ]
                    },
                    {
                        "name": "\ubbf8\uc6a9",
                        "value": [
                            1389739.0
                        ]
                    },
                    {
                        "name": "\uc2a4\ud3ec\uce20/\ubb38\ud654/\ub808\uc800",
                        "value": [
                            3717316.0
                        ]
                    },
                    {
                        "name": "\uc5ec\ud589/\uad50\ud1b5",
                        "value": [
                            2176330.0
                        ]
                    },
                    {
                        "name": "\uc694\uc2dd/\uc720\ud765",
                        "value": [
                            12858240.0
                        ]
                    },
                    {
                        "name": "\uc720\ud1b5",
                        "value": [
                            7950972.0
                        ]
                    },
                    {
                        "name": "\uc74c/\uc2dd\ub8cc\ud488",
                        "value": [
                            1838113.0
                        ]
                    },
                    {
                        "name": "\uc758\ub8cc",
                        "value": [
                            6583918.0
                        ]
                    },
                    {
                        "name": "\uc758\ub958/\uc7a1\ud654",
                        "value": [
                            580965.0
                        ]
                    },
                    {
                        "name": "\uc790\ub3d9\ucc28",
                        "value": [
                            0.0
                        ]
                    },
                    {
                        "name": "\uc804\uc790\uc0c1\uac70\ub798",
                        "value": [
                            55284790.0
                        ]
                    },
                    {
                        "name": "\uc8fc\uc720",
                        "value": [
                            44264.0
                        ]
                    }
                ],
                "radius": [
                    "30%",
                    "60%"
                ],
                "center": [
                    "50%",
                    "50%"
                ],
                "roseType": "radius",
                "label": {
                    "show": true,
                    "position": "top",
                    "margin": 8
                },
                "rippleEffect": {
                    "show": true,
                    "brushType": "stroke",
                    "scale": 2.5,
                    "period": 4
                }
            }
        ],
        "timeline": {
            "axisType": "category",
            "orient": "horizontal",
            "autoPlay": true,
            "controlPosition": "left",
            "loop": true,
            "rewind": false,
            "show": true,
            "inverse": false,
            "bottom": "-5px",
            "data": [
                "pre_corona\ub144\ub3c4",
                "post_corona\ub144\ub3c4"
            ]
        }
    },
    "options": [
        {
            "legend": [
                {
                    "data": [
                        "\uac00\uc804/\uac00\uad6c",
                        "\uac00\uc815\uc0dd\ud65c/\uc11c\ube44\uc2a4",
                        "\uad50\uc721/\ud559\uc6d0",
                        "\ubbf8\uc6a9",
                        "\uc2a4\ud3ec\uce20/\ubb38\ud654/\ub808\uc800",
                        "\uc5ec\ud589/\uad50\ud1b5",
                        "\uc694\uc2dd/\uc720\ud765",
                        "\uc720\ud1b5",
                        "\uc74c/\uc2dd\ub8cc\ud488",
                        "\uc758\ub8cc",
                        "\uc758\ub958/\uc7a1\ud654",
                        "\uc790\ub3d9\ucc28",
                        "\uc804\uc790\uc0c1\uac70\ub798",
                        "\uc8fc\uc720"
                    ],
                    "selected": {},
                    "type": "scroll",
                    "show": true,
                    "right": "-3%",
                    "bottom": "60%",
                    "orient": "vertical",
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "icon": "pin"
                }
            ],
            "series": [
                {
                    "type": "pie",
                    "clockwise": true,
                    "data": [
                        {
                            "name": "\uac00\uc804/\uac00\uad6c",
                            "value": [
                                1908131.0
                            ]
                        },
                        {
                            "name": "\uac00\uc815\uc0dd\ud65c/\uc11c\ube44\uc2a4",
                            "value": [
                                3052356.0
                            ]
                        },
                        {
                            "name": "\uad50\uc721/\ud559\uc6d0",
                            "value": [
                                841368.0
                            ]
                        },
                        {
                            "name": "\ubbf8\uc6a9",
                            "value": [
                                23355196.0
                            ]
                        },
                        {
                            "name": "\uc2a4\ud3ec\uce20/\ubb38\ud654/\ub808\uc800",
                            "value": [
                                4195724.0
                            ]
                        },
                        {
                            "name": "\uc5ec\ud589/\uad50\ud1b5",
                            "value": [
                                12533201.0
                            ]
                        },
                        {
                            "name": "\uc694\uc2dd/\uc720\ud765",
                            "value": [
                                29385764.0
                            ]
                        },
                        {
                            "name": "\uc720\ud1b5",
                            "value": [
                                48219699.0
                            ]
                        },
                        {
                            "name": "\uc74c/\uc2dd\ub8cc\ud488",
                            "value": [
                                12747836.0
                            ]
                        },
                        {
                            "name": "\uc758\ub8cc",
                            "value": [
                                32795011.0
                            ]
                        },
                        {
                            "name": "\uc758\ub958/\uc7a1\ud654",
                            "value": [
                                499982.0
                            ]
                        },
                        {
                            "name": "\uc790\ub3d9\ucc28",
                            "value": [
                                760536.0
                            ]
                        },
                        {
                            "name": "\uc804\uc790\uc0c1\uac70\ub798",
                            "value": [
                                17388913.0
                            ]
                        },
                        {
                            "name": "\uc8fc\uc720",
                            "value": [
                                4699931.0
                            ]
                        }
                    ],
                    "radius": [
                        "30%",
                        "60%"
                    ],
                    "center": [
                        "50%",
                        "50%"
                    ],
                    "roseType": "radius",
                    "label": {
                        "show": true,
                        "position": "top",
                        "margin": 8
                    },
                    "rippleEffect": {
                        "show": true,
                        "brushType": "stroke",
                        "scale": 2.5,
                        "period": 4
                    }
                }
            ],
            "title": [
                {
                    "text": "\ucf54\ub85c\ub098\uc0c1\ud669\uc5d0 \ub530\ub978 \ub0a8\uc131 \uc5c5\uc885\ubcc4 \uce74\ub4dc\ub9e4\ucd9c",
                    "padding": 5,
                    "itemGap": 10
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5
            }
        },
        {
            "legend": [
                {
                    "data": [
                        "\uac00\uc804/\uac00\uad6c",
                        "\uac00\uc815\uc0dd\ud65c/\uc11c\ube44\uc2a4",
                        "\uad50\uc721/\ud559\uc6d0",
                        "\ubbf8\uc6a9",
                        "\uc2a4\ud3ec\uce20/\ubb38\ud654/\ub808\uc800",
                        "\uc5ec\ud589/\uad50\ud1b5",
                        "\uc694\uc2dd/\uc720\ud765",
                        "\uc720\ud1b5",
                        "\uc74c/\uc2dd\ub8cc\ud488",
                        "\uc758\ub8cc",
                        "\uc758\ub958/\uc7a1\ud654",
                        "\uc790\ub3d9\ucc28",
                        "\uc804\uc790\uc0c1\uac70\ub798",
                        "\uc8fc\uc720"
                    ],
                    "selected": {},
                    "type": "scroll",
                    "show": true,
                    "right": "-3%",
                    "bottom": "60%",
                    "orient": "vertical",
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "icon": "pin"
                }
            ],
            "series": [
                {
                    "type": "pie",
                    "clockwise": true,
                    "data": [
                        {
                            "name": "\uac00\uc804/\uac00\uad6c",
                            "value": [
                                0.0
                            ]
                        },
                        {
                            "name": "\uac00\uc815\uc0dd\ud65c/\uc11c\ube44\uc2a4",
                            "value": [
                                8588222.0
                            ]
                        },
                        {
                            "name": "\uad50\uc721/\ud559\uc6d0",
                            "value": [
                                4417095.0
                            ]
                        },
                        {
                            "name": "\ubbf8\uc6a9",
                            "value": [
                                1389739.0
                            ]
                        },
                        {
                            "name": "\uc2a4\ud3ec\uce20/\ubb38\ud654/\ub808\uc800",
                            "value": [
                                3717316.0
                            ]
                        },
                        {
                            "name": "\uc5ec\ud589/\uad50\ud1b5",
                            "value": [
                                2176330.0
                            ]
                        },
                        {
                            "name": "\uc694\uc2dd/\uc720\ud765",
                            "value": [
                                12858240.0
                            ]
                        },
                        {
                            "name": "\uc720\ud1b5",
                            "value": [
                                7950972.0
                            ]
                        },
                        {
                            "name": "\uc74c/\uc2dd\ub8cc\ud488",
                            "value": [
                                1838113.0
                            ]
                        },
                        {
                            "name": "\uc758\ub8cc",
                            "value": [
                                6583918.0
                            ]
                        },
                        {
                            "name": "\uc758\ub958/\uc7a1\ud654",
                            "value": [
                                580965.0
                            ]
                        },
                        {
                            "name": "\uc790\ub3d9\ucc28",
                            "value": [
                                0.0
                            ]
                        },
                        {
                            "name": "\uc804\uc790\uc0c1\uac70\ub798",
                            "value": [
                                55284790.0
                            ]
                        },
                        {
                            "name": "\uc8fc\uc720",
                            "value": [
                                44264.0
                            ]
                        }
                    ],
                    "radius": [
                        "30%",
                        "60%"
                    ],
                    "center": [
                        "50%",
                        "50%"
                    ],
                    "roseType": "radius",
                    "label": {
                        "show": true,
                        "position": "top",
                        "margin": 8
                    },
                    "rippleEffect": {
                        "show": true,
                        "brushType": "stroke",
                        "scale": 2.5,
                        "period": 4
                    }
                }
            ],
            "title": [
                {
                    "text": "\ucf54\ub85c\ub098\uc0c1\ud669\uc5d0 \ub530\ub978 \ub0a8\uc131 \uc5c5\uc885\ubcc4 \uce74\ub4dc\ub9e4\ucd9c",
                    "padding": 5,
                    "itemGap": 10
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5
            }
        }
    ]
};
        chart_574c24c4dc164c84981f9e44e67f0a3e.setOption(option_574c24c4dc164c84981f9e44e67f0a3e);
    </script>
<br/>                <div id="dd7e48b30f40422691f332ac71889728" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_dd7e48b30f40422691f332ac71889728 = echarts.init(
            document.getElementById('dd7e48b30f40422691f332ac71889728'), 'westeros', {renderer: 'canvas'});
        var option_dd7e48b30f40422691f332ac71889728 = {
    "baseOption": {
        "series": [
            {
                "type": "pie",
                "clockwise": true,
                "data": [
                    {
                        "name": "\uac00\uc804/\uac00\uad6c",
                        "value": [
                            462307.0
                        ]
                    },
                    {
                        "name": "\uac00\uc815\uc0dd\ud65c/\uc11c\ube44\uc2a4",
                        "value": [
                            1454123.0
                        ]
                    },
                    {
                        "name": "\uad50\uc721/\ud559\uc6d0",
                        "value": [
                            292243.0
                        ]
                    },
                    {
                        "name": "\ubbf8\uc6a9",
                        "value": [
                            1701649.0
                        ]
                    },
                    {
                        "name": "\uc2a4\ud3ec\uce20/\ubb38\ud654/\ub808\uc800",
                        "value": [
                            2640247.0
                        ]
                    },
                    {
                        "name": "\uc5ec\ud589/\uad50\ud1b5",
                        "value": [
                            140840.0
                        ]
                    },
                    {
                        "name": "\uc694\uc2dd/\uc720\ud765",
                        "value": [
                            15994685.0
                        ]
                    },
                    {
                        "name": "\uc720\ud1b5",
                        "value": [
                            13466569.0
                        ]
                    },
                    {
                        "name": "\uc74c/\uc2dd\ub8cc\ud488",
                        "value": [
                            1242913.0
                        ]
                    },
                    {
                        "name": "\uc758\ub8cc",
                        "value": [
                            3772198.0
                        ]
                    },
                    {
                        "name": "\uc758\ub958/\uc7a1\ud654",
                        "value": [
                            629454.0
                        ]
                    },
                    {
                        "name": "\uc790\ub3d9\ucc28",
                        "value": [
                            0.0
                        ]
                    },
                    {
                        "name": "\uc804\uc790\uc0c1\uac70\ub798",
                        "value": [
                            2774045.0
                        ]
                    },
                    {
                        "name": "\uc8fc\uc720",
                        "value": [
                            8722976.0
                        ]
                    }
                ],
                "radius": [
                    "30%",
                    "60%"
                ],
                "center": [
                    "50%",
                    "50%"
                ],
                "roseType": "radius",
                "label": {
                    "show": true,
                    "position": "top",
                    "margin": 8
                },
                "rippleEffect": {
                    "show": true,
                    "brushType": "stroke",
                    "scale": 2.5,
                    "period": 4
                }
            }
        ],
        "timeline": {
            "axisType": "category",
            "orient": "horizontal",
            "autoPlay": true,
            "controlPosition": "left",
            "loop": true,
            "rewind": false,
            "show": true,
            "inverse": false,
            "bottom": "-5px",
            "data": [
                "pre_corona\ub144\ub3c4",
                "post_corona\ub144\ub3c4"
            ]
        }
    },
    "options": [
        {
            "legend": [
                {
                    "data": [
                        "\uac00\uc804/\uac00\uad6c",
                        "\uac00\uc815\uc0dd\ud65c/\uc11c\ube44\uc2a4",
                        "\uad50\uc721/\ud559\uc6d0",
                        "\ubbf8\uc6a9",
                        "\uc2a4\ud3ec\uce20/\ubb38\ud654/\ub808\uc800",
                        "\uc5ec\ud589/\uad50\ud1b5",
                        "\uc694\uc2dd/\uc720\ud765",
                        "\uc720\ud1b5",
                        "\uc74c/\uc2dd\ub8cc\ud488",
                        "\uc758\ub8cc",
                        "\uc758\ub958/\uc7a1\ud654",
                        "\uc790\ub3d9\ucc28",
                        "\uc804\uc790\uc0c1\uac70\ub798",
                        "\uc8fc\uc720"
                    ],
                    "selected": {},
                    "type": "scroll",
                    "show": true,
                    "right": "-3%",
                    "bottom": "60%",
                    "orient": "vertical",
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "icon": "pin"
                }
            ],
            "series": [
                {
                    "type": "pie",
                    "clockwise": true,
                    "data": [
                        {
                            "name": "\uac00\uc804/\uac00\uad6c",
                            "value": [
                                960227.0
                            ]
                        },
                        {
                            "name": "\uac00\uc815\uc0dd\ud65c/\uc11c\ube44\uc2a4",
                            "value": [
                                2921087.0
                            ]
                        },
                        {
                            "name": "\uad50\uc721/\ud559\uc6d0",
                            "value": [
                                2361082.0
                            ]
                        },
                        {
                            "name": "\ubbf8\uc6a9",
                            "value": [
                                1004340.0
                            ]
                        },
                        {
                            "name": "\uc2a4\ud3ec\uce20/\ubb38\ud654/\ub808\uc800",
                            "value": [
                                6635878.0
                            ]
                        },
                        {
                            "name": "\uc5ec\ud589/\uad50\ud1b5",
                            "value": [
                                12448396.0
                            ]
                        },
                        {
                            "name": "\uc694\uc2dd/\uc720\ud765",
                            "value": [
                                30576310.0
                            ]
                        },
                        {
                            "name": "\uc720\ud1b5",
                            "value": [
                                20579290.0
                            ]
                        },
                        {
                            "name": "\uc74c/\uc2dd\ub8cc\ud488",
                            "value": [
                                5549398.0
                            ]
                        },
                        {
                            "name": "\uc758\ub8cc",
                            "value": [
                                12151827.0
                            ]
                        },
                        {
                            "name": "\uc758\ub958/\uc7a1\ud654",
                            "value": [
                                2403334.0
                            ]
                        },
                        {
                            "name": "\uc790\ub3d9\ucc28",
                            "value": [
                                66145.0
                            ]
                        },
                        {
                            "name": "\uc804\uc790\uc0c1\uac70\ub798",
                            "value": [
                                3328014.0
                            ]
                        },
                        {
                            "name": "\uc8fc\uc720",
                            "value": [
                                1725240.0
                            ]
                        }
                    ],
                    "radius": [
                        "30%",
                        "60%"
                    ],
                    "center": [
                        "50%",
                        "50%"
                    ],
                    "roseType": "radius",
                    "label": {
                        "show": true,
                        "position": "top",
                        "margin": 8
                    },
                    "rippleEffect": {
                        "show": true,
                        "brushType": "stroke",
                        "scale": 2.5,
                        "period": 4
                    }
                }
            ],
            "title": [
                {
                    "text": "\ucf54\ub85c\ub098\uc0c1\ud669\uc5d0 \ub530\ub978 \uc5ec\uc131 \uc5c5\uc885\ubcc4 \uce74\ub4dc\ub9e4\ucd9c",
                    "padding": 5,
                    "itemGap": 10
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5
            }
        },
        {
            "legend": [
                {
                    "data": [
                        "\uac00\uc804/\uac00\uad6c",
                        "\uac00\uc815\uc0dd\ud65c/\uc11c\ube44\uc2a4",
                        "\uad50\uc721/\ud559\uc6d0",
                        "\ubbf8\uc6a9",
                        "\uc2a4\ud3ec\uce20/\ubb38\ud654/\ub808\uc800",
                        "\uc5ec\ud589/\uad50\ud1b5",
                        "\uc694\uc2dd/\uc720\ud765",
                        "\uc720\ud1b5",
                        "\uc74c/\uc2dd\ub8cc\ud488",
                        "\uc758\ub8cc",
                        "\uc758\ub958/\uc7a1\ud654",
                        "\uc790\ub3d9\ucc28",
                        "\uc804\uc790\uc0c1\uac70\ub798",
                        "\uc8fc\uc720"
                    ],
                    "selected": {},
                    "type": "scroll",
                    "show": true,
                    "right": "-3%",
                    "bottom": "60%",
                    "orient": "vertical",
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "icon": "pin"
                }
            ],
            "series": [
                {
                    "type": "pie",
                    "clockwise": true,
                    "data": [
                        {
                            "name": "\uac00\uc804/\uac00\uad6c",
                            "value": [
                                462307.0
                            ]
                        },
                        {
                            "name": "\uac00\uc815\uc0dd\ud65c/\uc11c\ube44\uc2a4",
                            "value": [
                                1454123.0
                            ]
                        },
                        {
                            "name": "\uad50\uc721/\ud559\uc6d0",
                            "value": [
                                292243.0
                            ]
                        },
                        {
                            "name": "\ubbf8\uc6a9",
                            "value": [
                                1701649.0
                            ]
                        },
                        {
                            "name": "\uc2a4\ud3ec\uce20/\ubb38\ud654/\ub808\uc800",
                            "value": [
                                2640247.0
                            ]
                        },
                        {
                            "name": "\uc5ec\ud589/\uad50\ud1b5",
                            "value": [
                                140840.0
                            ]
                        },
                        {
                            "name": "\uc694\uc2dd/\uc720\ud765",
                            "value": [
                                15994685.0
                            ]
                        },
                        {
                            "name": "\uc720\ud1b5",
                            "value": [
                                13466569.0
                            ]
                        },
                        {
                            "name": "\uc74c/\uc2dd\ub8cc\ud488",
                            "value": [
                                1242913.0
                            ]
                        },
                        {
                            "name": "\uc758\ub8cc",
                            "value": [
                                3772198.0
                            ]
                        },
                        {
                            "name": "\uc758\ub958/\uc7a1\ud654",
                            "value": [
                                629454.0
                            ]
                        },
                        {
                            "name": "\uc790\ub3d9\ucc28",
                            "value": [
                                0.0
                            ]
                        },
                        {
                            "name": "\uc804\uc790\uc0c1\uac70\ub798",
                            "value": [
                                2774045.0
                            ]
                        },
                        {
                            "name": "\uc8fc\uc720",
                            "value": [
                                8722976.0
                            ]
                        }
                    ],
                    "radius": [
                        "30%",
                        "60%"
                    ],
                    "center": [
                        "50%",
                        "50%"
                    ],
                    "roseType": "radius",
                    "label": {
                        "show": true,
                        "position": "top",
                        "margin": 8
                    },
                    "rippleEffect": {
                        "show": true,
                        "brushType": "stroke",
                        "scale": 2.5,
                        "period": 4
                    }
                }
            ],
            "title": [
                {
                    "text": "\ucf54\ub85c\ub098\uc0c1\ud669\uc5d0 \ub530\ub978 \uc5ec\uc131 \uc5c5\uc885\ubcc4 \uce74\ub4dc\ub9e4\ucd9c",
                    "padding": 5,
                    "itemGap": 10
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5
            }
        }
    ]
};
        chart_dd7e48b30f40422691f332ac71889728.setOption(option_dd7e48b30f40422691f332ac71889728);
    </script>
<br/>    </div>
    <script>
    </script>
</body>
</html>
